

<div class="container text-center">

    <h5>  EXPLOSION DU RETROGAMING. <a type="button" class="btn btn-info btn-sm" href="/">Retour à l'accueil</a> </h5>

        <div class="embed-responsive embed-responsive-21by9"> 
                

            <iframe class="embed-responsive-item w-50" style="margin-left:25%;" src="https://www.youtube.com/embed/IbW0Zx57poQ"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                      gyroscope; picture-in-picture" allowfullscreen></iframe>
                      {{!-- <a type="button" class="btn btn-danger" href="/">Quitter</a> --}}
        </div>
        
</div>



{{!-- Video responsive fichier local --}}

{{!-- <div class="container text-center">

 <h5>  EXPLOSION DU RETROGAMING.  </h5>

<video src="https://www.youtube.com/embed/IbW0Zx57poQ" controls autoplay >  </video>
  <a type="button" class="btn btn-danger" href="/">Quitter</a>

</div> --}}

