  <div class="container mx-auto ">
 
      <h4 class=" text-center mx-auto bg-dark text-light rounded-circle w-25  "> VOS PUBLICATIONS </h4>
 </div>


<div class="container">

<h1> {{article.title}} </h1>
<h2> {{article.details}} </h2>
 stable-version




</div>





           


