

<div class="container text-center">
    <div class="row">
        <div class="col"> 
                    <div class="card w-25 bg-dark text-light mx-auto ">
                        <div class="card-body">
                                <h3 class=" card-title bg-dark text-light rounded-circle ">S'enregistrer</h3>
                                <form action="/users/register" method="POST">
                                    <div class="form-group">
                                        <label for="name">Nom</label>
                                        <input type="text" name="name" class="form-control" value="{{name}}" required >
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" class="form-control" value="{{email}}" required >
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Mot de passe</label>
                                        <input type="password" name="password" class="form-control" value="{{password}}" required >
                                    </div>
                                    <div class="form-group">
                                        <label for="password2">Confirmer votre mot de passe</label>
                                        <input type="password" name="password2" class="form-control" value="{{password2}}" required >
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm">Soumettre</button>
                                    <a type="button" class="btn btn-danger btn-sm" href="/">Annuler</a>
                                </form>
                        </div> 
                    </div>
        </div>
    </div>
</div>